{% extends 'index.html'%}
{%block content%}
<h3>LIST OF REGISTERED STUDENT 2019/2019</h3>

	<div id="Tab">
    
    	<table  width="1150">
    		<tr>
    			<th>Student ID</th>
    			<th>First Name</th>
    			<th>Last Name</th>
    			<th>Date of Birth</th>
    			<th>Telephone</th>
    			<th>Gender</th>
    			<th>District</th>
    			<th>Nationality</th>
    		</tr>
    		{%for i in data%}
    		<tr>
    			<td>{{i.stu_id}}</td>
    			<td>{{i.first_name}}</td>
    			<td>{{i.last_name}}</td>
    			<td>{{i.b_date}}</td>
    			<td>{{i.telephone}}</td>
    			<td>{{i.gender}}</td>
    			<td>{{i.district}}</td>
    			<td>{{i.nationality}}</td>
    		</tr>
    		{%endfor%}
    	</table>

    </div>
        
    
    
        
{% endblock %}
